# API
NEXT_PUBLIC_API_URL=http://localhost:3001

# Stripe
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_...

# Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-...
NEXT_PUBLIC_META_PIXEL_ID=...

# Zadarma
NEXT_PUBLIC_ZADARMA_PHONE_NUMBER=+1234567890
